/* CSS Document */
body,h1,h2,h3,h4,h5,h6,p,ul,ol,li,form,img,dl,dt,dd,table,th,td,blockquote,fieldset,div,strong,label,em{margin:0;padding:0;border:0;}
ul,ol,li{list-style:none;}
input,button{margin:0;font-size:12px;vertical-align:middle;}
body{font-size:12px;font-family:Arial, Helvetica, sans-serif;  text-align:center; margin:0 auto; }
table{border-collapse:collapse;border-spacing:0;}

.clearfloat{height:0;font-size:1px;clear:both;line-height:0;}

#container{ width:960px;  text-align:left; margin:0 auto; background:#fff;}
#relatedInfo{ width:176px; margin:20px auto;}
a{color:#333;text-decoration:none;}
a:hover{color:#ef9b11; text-decoration:underline;}
.infoItem {PADDING-BOTTOM: 15px; POSITION: relative}
.infoBanner {border: #dbdbdb 1px solid; LEFT: 0px;  POSITION: absolute; TOP: 0px}
.infoLink {margin: 0px 10px 9px; padding-top: 78px}
.infoText{ padding-left:4px; width:172px; line-height:18px;}

